spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hhplus?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false

  flyway:
    enabled: false

  data:
    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094
    consumer:
      group-id: payment-processor
      auto-offset-reset: earliest
      enable-auto-commit: false
    producer:
      acks: all

logging:
  level:
    org.apache.kafka: WARN
    org.springframework.kafka: INFO
    kr.hhplus.be.server: DEBUG